.mx-auto
  .relative.mx-auto.bg-gray-100.h-screen
    .overflow-y-auto.absolute.bottom-0.left-0.right-0
      - if @chat.present?
        .py-2
          .p-2
            %ul.overflow-y-auto.flex.flex-col-reverse{:class => "max-h-[72vh]", :role => "list"}
              = turbo_stream_from "#{dom_id(@chat)}_messages"
              %div{:id => "#{dom_id(@chat)}_messages"}
                = render @chat.messages
            = render partial: "messages/form", locals: { chat: @chat }
      - else
        = render partial: "messages/form", locals: { chat: Chat.includes(:messages).where(user: current_user, messages: { id: nil }).first_or_create }
