=turbo_frame_tag dom_id(profile) do
  = form_for(profile, url: profile_path) do |f|
    .row.my-3
      .col-12
        .form-label Gender
        = f.select :gender, Profile::GENDERS.map {|a| [a.humanize,a]}, {}, {multiple: false, data: {controller: 'tom-select'}, placeholder: 'Gender ', class: 'form-control'}
      .col-12
        .form-label Conditions
        = f.select :medical_condition_ids, MedicalCondition.order(:name).pluck(:name, :id), {}, {multiple: true, data: {controller: 'tom-select'}, placeholder: 'Conditions ', class: 'form-control'}
      .col-12
        .form-label Allergens
        = f.select :allergen_ids, Tag.allergens.order(:name).pluck(:name, :id), {}, {multiple: true, data: {controller: 'tom-select'}, placeholder: 'Allergens', class: 'form-control'}
      .col-12
        .form-label Dietary Preferences
        = f.select :dietary_preference_ids, Tag.dietary_preferences.order(:name).pluck(:name, :id), {}, {multiple: true, data: {controller: 'tom-select'}, placeholder: 'Dietary Preferences', class: 'form-control'}
      .col-12
        =f.button(type: :submit, class: 'btn btn-primary') do
          Save
