!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Nutri-Noodle
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    = stylesheet_link_tag "https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.min.css"
    = favicon_link_tag asset_path('favicon.ico')
  %body.container.my-4
    - if user_signed_in?
      .navbar
        %p.navbar-text.float-right
        Logged in as
        = succeed "." do
          %strong= current_user.email
        = link_to "Settings", edit_user_registration_path, class: "navbar-link"
        |
        = button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-secondary"
    .container.mb-4
      = image_tag asset_path("logo.png"), style: 'height:100px;width:auto;'
      %span.h1 Nutri-Noodle Demo App
    -if notice
      .notice #{notice}
    -if alert
      .alert #{alert}
  %btn-group{role: :group}
    %button.btn.btn-outline-primary
      =link_to "Home", home_path
    %button.btn.btn-outline-primary
      =link_to "Score Foods& Recipes", score_foods_path
    %button.btn.btn-outline-primary
      =link_to "Personalized Recommendations", recommendations_path
    %button.btn.btn-outline-primary
      =link_to "Nutrition Advice", messages_path
  = yield

